<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SkinetConnection" value="Data Source=nabiitnb;Initial Catalog=Skinet;User ID=sa;Password=Yng@2012;persist security info=True; MultipleActiveResultSets=True;"/>   
    <add key="ApiUrl" value="https://localhost:5001/"/>   
  </appSettings>
</configuration>
