<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SkinetConnection" value="Data Source=nabiitnb;Initial Catalog=Skinet;User ID=sa;Password=Yng@2012;persist security info=True; MultipleActiveResultSets=True;"/>
    <add key="HRMSCTGConString" value="Data Source=10.3.100.65\hrmssqlserver;Initial Catalog=HRMS;User ID=sa;Password=Yng@2012;persist security info=True; MultipleActiveResultSets=True;"/>
    <add key="HRMSDHKConString" value="Data Source=10.4.100.67\hrmssqlserver;Initial Catalog=HRMS;User ID=sa;Password=Yht@2015ctg;persist security info=True; MultipleActiveResultSets=True;"/>
  </appSettings>
</configuration>
